<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <main th:fragment="page">
        <div>
            <div th:replace="/user/content/header :: header"></div>
        </div>
        <div class="product-section mt-150 mb-150">
            <div class="container">
    
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-filters">
                            <ul>
                                <li class="active" data-filter="*">Tất cả</li>
                                <li data-filter=".strawberry">Rau</li>
                                <li data-filter=".berry">Củ</li>
                                <li data-filter=".lemon">Quả</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="row product-lists">
                    <div class="col-lg-4 col-md-6 text-center strawberry">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a th:href="@{${Item + item.id}}"><img th:src="${'data:image/jpeg;base64,'+ item.image}" alt=""></a>
                            </div>
                            <h3 th:text="${item.name}"></h3>
                            <p class="product-price" ><span th:text="${item.price}"></span> span>Kg</span>  <p th:text="${item.price}"><span>$</span></p>
                            <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
    <br> 
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="pagination-wrap">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a class="active" href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>