<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div >
             <!-- Sidebar -->
        <ul th:fragment = "slidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion col-2" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Quản Lý</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản Lý:</h6>
                        <a class="collapse-item" th:href="@{/Admin/Mân}">Mặt hàng</a>
                        <a class="collapse-item" href="cards.html">Nhà cung cấp</a>
                        <a class="collapse-item" href="cards.html">Người dùng</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-cart-shopping-fast"></i>
                    <!-- <i class="fa-solid fa-cart-shopping-fast"></i> -->
                    <span>Đơn Hàng</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Trạng thái:</h6>
                        <a class="collapse-item" href="utilities-color.html">Chờ xác nhận</a>
                        <a class="collapse-item" href="utilities-border.html">Chờ lấy hàng</a>
                        <a class="collapse-item" href="utilities-animation.html">Đang giao Hàng</a>
                        <a class="collapse-item" href="utilities-other.html">Đã Giao Hàng</a>
                        <a class="collapse-item" href="utilities-other.html">Đã Huỷ</a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->
    </div>
</body>
</html>