<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div th:fragment="content" class="card-body container bg-white">
        <h2 class="card-title bg-info text-white text-center p-3">Thêm Nông Sản</h2>

        <form th:action="${BASEURL + CREATE}" class="row" method="post" enctype="multipart/form-data">

            <div class="form-outline mb-4">
                <input type="text" id="name" name="name" class="form-control" />
                <label class="form-label" for="name">Tên</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control" />
                <label class="form-label" for="form6Example3">Company name</label>
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
                <input type="number" id="weight" class="form-control" />
                <label class="form-label" for="weight">Trọng Lượng</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="supplier" class="form-control" />
                <label class="form-label" for="supplier">Xuất Xứ</label>
            </div>

            <div class="form-outline mb-4">
                <input type="email" id="supplier" class="form-control" />
                <label class="form-label" for="supplier">Loại</label>
            </div>

            <div class="form-outline mb-4">
                <input type="email" id="supplier" class="form-control" />
                <label class="form-label" for="supplier">Trạng Thái</label>
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4">
                <textarea class="form-control" id="nutrition" rows="4"></textarea>
                <label class="form-label" for="nutrition">Giá Trị Dinh Dưỡng</label>
            </div>
            <div></div>
            
            <button class="btn btn-primary mr-2">Save</button>
            <button type="reset" class="btn btn-light">Reset</button>
        </form>
    </div>

</body>

</html>