<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div th:fragment="content" class="card-body container bg-white">
        <h3 class="card-title bg-info text-white text-center p-3">Thêm Người Dùng</h3>

        <form th:action="${BASEURL + CREATE}" class="row" method="post" enctype="multipart/form-data">

            <div class="form-group col-6">
                <label for="exampleInputName1">Tên:</label>
                <input name="fullname" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
            </div>
            <div class="form-group col-6">
                <label for="exampleInputEmail3">Tài khoản:</label>
                <input name="username" type="text" class="form-control" id="exampleInputEmail3" placeholder="Weight">
            </div>
            <div class="form-group col-6">
                <label for="exampleSelectSupplier">Mật khẩu:</label>
                <input name="weight" type="number" class="form-control" id="exampleInputEmail3" placeholder="Weight">
            </div>
            <div class="form-group col-6">
                <label for="exampleInputPassword5">Email:</label>
                <input name="quantity" type="email" class="form-control" id="exampleInputPassword5"
                       placeholder="Quantity">
            </div>
            <div class="form-group col-6">
                <label for="exampleInputPassword4">Số điện thoại:</label>
                <input name="price" type="text" class="form-control" id="exampleInputPassword4"
                       placeholder="Price">
            </div>
            <div class="form-group col-6">
                <label for="exampleSelectType">Giới tính:</label>
                <select name="type" class="form-control" id="exampleSelectType">
                    <option th:each="gender: ${T(assignment.assignment_java5.model.typeEnum.Gender).values()}"
                            th:text="${gender}" th:value="${gender}"></option>
                </select>
            </div>
            <div class="form-group col-6">
                <label for="exampleSelectStatus">Vai trò:</label>
                <select name="status" class="form-control" id="exampleSelectStatus">
                    <option th:each="role: ${T(assignment.assignment_java5.model.typeEnum.Role).values()}"
                            th:text="${role}" th:value="${role}"></option>
                </select>
            </div>
            <button class="btn btn-primary mr-2" type="submit">Save</button>
            <button type="reset" class="btn btn-light">Reset</button>
        </form>
    </div>

</body>

</html>